<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"><!--PhoneX的适配，在iOS 11中采用了viewport-fit的meta标签作为适配方案-->
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="format-detection" content="telephone=no,email=no">
    <title>菜谱</title>
    <script type="text/javascript" src="js/common/rem.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="lib/swiper/swiper-4.2.6.min.css">
</head>
<body data-ng-controller="cookbookCtrl" ng-cloak="">
    <div class="menu">
        <div class="header">
            <a href="goodsDetails.html#?id={{goodsId}}&token={{token}}&cartNum={{cartNum}}"><img src="images/return.png"/></a>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-ng-repeat="item in resources"><img data-ng-src="{{item.url}}"/></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="content">
            <h3>{{cookbook.name}}</h3>
            <div class="material">
                <h3 data-ng-repeat-start="item in cookbook.cuisineGroups">{{item.name}}</h3>
                <ul data-ng-repeat-end>
                    <li class="clear" data-ng-repeat="item2 in item.cuisines"><span>{{item2.name}}</span><span>{{item2.dosage}}</span></li>
                </ul>
            </div>
            <div class="steps">
                <ul data-ng-repeat="item in cookbook.steps">
                    <li>
                        <h3>{{item.name}}</h3>
                        <img data-ng-src="{{item2.url}}" data-ng-repeat="item2 in item.image"/>
                        <p>{{item.content}}</p>
                    </li>
                </ul>
            </div>
            <div class="carts">
                <h3>选择丢进购物车<span><img src="images/cart.png" ng-click="goCart()"/><em>{{cartNum}}</em></span></h3>
                <ul class="clear">
                    <li data-ng-repeat="item in cookbook.goods"><img data-ng-src="{{item.icon.url}}" ng-click="addCart(item)"/> </li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="lib/swiper/swiper-4.2.6.min.js"></script>
    <script type="text/javascript" src="js/cookbook.js"></script>
</body>
</html>