<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"><!--PhoneX的适配，在iOS 11中采用了viewport-fit的meta标签作为适配方案-->
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="format-detection" content="telephone=no,email=no">
    <title>商品详情</title>
    <script type="text/javascript" src="js/common/rem.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="lib/swiper/swiper-4.2.6.min.css">
    <style type="text/css">
        [ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}
    </style>
</head>
<body data-ng-controller="goodsCtrl" ng-cloak="">
    <div class="proDetails">
        <div class="proBanner">
            <a href="hasanapp://app.hasan.web/closeAction"><img src="images/return.png"/> </a>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-ng-repeat="item in goods.resources['1001']"><img data-ng-src="{{item.url}}"/></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="proContent">
            <div class="part1">
                <h3>{{goods.name}}</h3>
                <p>{{goods.desc}}</p>
            </div>
            <ul class="part2" data-ng-repeat="item in goods.prices">
                <li><span>{{item.name}}：</span><span>{{item.price}}</span></li>
            </ul>
            <p class="part3"><span>库存{{goods.inventory}}件</span><span>已售{{goods.sold}}件</span></p>
            <div class="part4 clear">
                <a ng-href="{{goods.resources['1002'][0].link}}"><img data-ng-src="{{goods.resources['1002'][0].url}}"/></a>
                <a ng-href="cookbook.html#?id={{goods.resources['1010'][0].owner}}&goodsId={{goods.id}}&token={{token}}&cartNum={{cartNum}}">
                    <img data-ng-src="{{goods.resources['1010'][0].url}}"/>
                </a>
            </div>
        </div>
        <div class="comments">
            <p data-ng-show="goods.evaluations.length>0">
                <span>商品评价（{{goods.evaluations.length}}）</span><span ng-click="queryEvaluations()">查看全部<img src="images/arrow.png"/> </span>
            </p>
            <!--有评价时-->
            <ul data-ng-show="goods.evaluations.length>0">
                <li data-ng-repeat="item in goods.evaluations | limitTo:1">
                    <p class="clear"><span><img data-ng-src="{{item.avatar}}"/></span><span>{{item.mobile}}</span><span>{{item.created | timeFilter}}</span></p>
                    <p class="content">{{item.content}}</p>
                </li>
            </ul>
            <!--没有评价时-->
            <p class="noComments" data-ng-show="goods.evaluations.length==0">暂时还没有评论</p>

        </div>

        <div class="cart">
            <p><span><img src="images/cart.png" ng-click="goCart()"/><em>{{cartNum}}</em></span></p>
            <p ng-click="addCart()">加入购物车</p>
        </div>

    </div>
    <!--<script type="text/javascript" src="lib/swiper/swiper-4.2.6.min.js"></script>-->
    <script src="https://cdn.bootcss.com/Swiper/4.2.6/js/swiper.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.5.11/angular.min.js"></script>
    <script type="text/javascript" src="js/goods.js"></script>
    <script type="text/javascript" src="js/common/filter.js"></script>
</body>
</html>